
<form action="/menuResultats/modifierResultats/ajout" method="POST">
    <table>
        <tr>
            <th></th>
            <th>Place</th>
            <th>Pilote</th>
            <th>Temps</th>
            <th>Points</th>
        </tr>
        {{#each tableau}}
            <tr>
                <td>
                    <a href="/menuResultats/supprimerResultat/{{this.1.GPNUM}}/{{this.1.PILNUM}}/
                    {{#if this.0.PTNBPOINTSPLACE}}
                        {{this.0.PTNBPOINTSPLACE}}
                    {{else}}
                        0
                    {{/if}}">
                        <img src="/image/delete.png" width="16px" height="16px">
                    </a>
                </td>
                <td>{{inc @index}}</td>
                <td>{{this.1.PILNOM}}</td>
                <td>{{this.1.TEMPSCOURSE}}</td>
                     <td>{{#if this.0.PTNBPOINTSPLACE}}
                     {{this.0.PTNBPOINTSPLACE}}
                     {{else}}
                     0
                     {{/if}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>{{inc tableau.length}}</td>
            <td>
                <select name="pilnum">
                    {{#each listePilotes}}
                        <option value="{{this.PILNUM}}">{{this.PILNOM}}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <input id="temps" name="temps" type="text" pattern="[0-5][0-9]:[0-5][0-9]:[0-9][0-9]" required="true">
            </td>
                <input id="tempsMini" class="hidden" name="tempsMini" type="text" value="{{tempsMini}}">
                <input id="nbpoints" class="hidden" name="nbpoints" type="number" value="{{nbPointsSuivant}}">
                <input id="num" class="hidden" name="num" type="number" value="{{gpnum}}">
            <td>
            <input id="valider" name="valider" type="submit"></td>
        </tr>
    </table>
</form>
<br class="myboth">