<table class="tabpayscir2">
	 {{#each listeCircuit}}
		<tr><td>
            <a href="{{this.CIRNUM}}"><u>{{this.CIRNOM}}</u> </a>
            <img src="/image/pays/{{this.PAYADRDRAP}}" width="20" alt="drapeau du pays" />
		</td></tr>
	{{/each}}
</table>

{{#each detCircuit}}
    <img style="float:left" src="/image/circuit/{{this.CIRADRESSEIMAGE}}" width="200" alt="image circuit"/>
    <table style="display:table-cell">
        <tr><td><b>Nom : </b>{{this.CIRNOM}}</td></tr>
        <tr><td><b>Longueur : </b>{{this.CIRLONGUEUR}} m</td></tr>
        <tr><td><b>Nombre de spectateurs : </b>{{this.CIRNBSPECTATEURS}}</td></tr>
        <tr><td><b>Pays : </b>{{this.PAYNOM}}</td></tr>
    </table>

    <p style="float:left">{{this.CIRTEXT}}</p>
{{/each}}
<br class="myboth" />