<!-- Detail d'un pilote -->
<div>
    <center>
    Cliquez sur une lettre :
    {{#each listePremiereLettreNom}}
        <a href="/repertoirePilote/{{this.premiere_lettre}}">{{this.premiere_lettre}}</a>
    {{/each}}
    </center>
    <br/>
    <div style="display:inline">
        <img style="float:left" src="/image/pilote/{{detailPilote.PHOADRESSE}}" width="75" alt="pilote"/>
    </div>
    <div style="display:inline">
        <table>
            <tr>
                <td>
                    <b>Nom : </b>{{detailPilote.PILNOM}} {{detailPilote.PILPRENOM}}
                </td>
            </tr>
            <tr>
                <td> 
                    <b>Date de naissance :</b> {{formatDate detailPilote.PILDATENAIS 'DD/MM/YYYY'}}
                </td>
                <td>
                    <b>Poids : </b>{{detailPilote.PILPOIDS}} kg
                </td>
            </tr>
            <tr>
                <td> 
                    <b>Nationalité :</b> {{detailPilote.PAYNAT}}
                </td>
                <td>
                    <b>Taille : </b>{{detailPilote.PILTAILLE}} cm
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ecurie : </b>
                    {{#each ecuriePilote}}
                        {{this.ECUNOM}}
                    {{else}}
                        Pas d'écurie cette année
                    {{/each}}
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <!-- Principaux sponsors -->
    <div>
        {{#if sponsorsPilote}}
            <b>Principaux sponsors : </b><br/>
            {{#each sponsorsPilote}}
                <b>{{this.sponom}}</b> ({{this.SPOSECTACTIVITE}})<br/>
            {{/each}}
        {{/if}}
    </div>
    
    <p><b>Qui suis-je ? </b>{{detailPilote.PILTEXTE}}</p>
</div>
    
<!-- Photos -->
<div>
    <center>
        {{#each photosPilote}}
            <a href="/repertoirePilote/detailPilote/{{this.PHOADRESSE}}" class="tooltip">
                <span class="tooltiptext">
                    <img src='/image/pilote/{{this.PHOADRESSE}}' alt="Photo pilote" class="imagePilote">
                </span>
            </a><br>
            <a href="/repertoirePilote/detailPilote/{{this.PHOADRESSE}}" rel="lytebox[vacation]" title="{{this.phosujet}} : {{this.PHOCOMMENTAIRE}}">
                <img src="/image/pilote/{{this.PHOADRESSE}}" alt="Photo pilote" width="100">
            </a>
        {{/each}}
    </center>
</div>

<br class="myboth" />